body{
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 45vh;
    background-color: rgb(253, 177, 90);
}
article{
    width: 100%;
    height: 90vh;
    background-color: white;
}

#footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(190, 188, 188);
}
.BH{
    width: 15vw;
    height: 30vh;
    background-color: rgb(235, 152, 59);
}
.LH{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 50%;
    height: 20vh;
}
.Linea1H{
    width: 50%;
    height: 2vh;
    background-color: peru;
}
.Linea2H{
    width: 100%;
    height: 1vh;
    background-color: white;
}
.Linea3H{
    width: 100%;
    height: 1vh;
    background-color: white;
}
.Linea4H{
    width: 100%;
    height: 1vh;
    background-color: white;
}
.Linea5H{
    width: 50%;
    height: 1vh;
    background-color: white;
}
.BAa1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 15vh;
    background-color: rgb(87, 131, 226);
}
.barraBAa1{
    width: 15vw;
    height: 5vh;
    background-color: rgb(59, 110, 219);
}
.BloqueBAa1{
    display: flex;

    width: 7vw;
    height: 14vh;
    background-color: rgb(59, 110, 219);
}
.BAa2{
    width: 15vw;
    height: 15vh;
    background-color: rgb(87, 131, 226);
}